<!DOCTYPE html>
<html>
<head>
  <title>Favorite color</title>
</head>
<body>
  <form action="/students" method="POST">
    <input type="text" color="color" placeholder="Color">
    <button type="submit">Save</button>
  </form>
</body>
</html>
